<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="dynamic-links">
        {% if "post" in request.path %}
            <a href="{% url 'user:list' %}">유저 리스트 보기</a>
        {% elif "user" in request.path %}
            <a href="{% url 'post:post_list' %}">작성글 리스트 보기</a>
        {% endif %}
    </div>

    <div class="navber">
        {% if request.user.is_authenticated %}
        <h3>안녕하세요 {{ user }}님</h3>
        <a href="{% url 'user:update' %}">회원정보 수정</a>
        <form action="{% url 'user:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>
        <form action="{% url 'user:delete' %}" method="POST">
            {% csrf_token %}
            <button type="submit">회원탈퇴</button>
        </form>
        {% else %}
            <a href="{% url 'user:signup' %}">회원가입</a>
            <a href="{% url 'user:login' %}">로그인</a>
        {% endif %}
    </div>
    
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>